.movie{
    width: 350px;
    height: 380px;
    border: 2px solid #324489;
    border-radius: 30px;
    text-align: center;
    box-shadow: 2px 2px 5px #1e1d1d;
    margin: 10px;
    img{
      width: 250px;
      height: 200px;
      margin: 10px;
      border-radius: 5px;
    }
  }
  button{
     
      padding: 8px 20px;
      margin:20px auto;
  }